.PaginationStyles {
  display: grid;
  grid-template-columns: auto 1fr auto;
  text-align: center;
  margin: 2rem 0;
  background-color: var(--yellow);
  justify-items: center;
  align-items: center;
  /* TODO dirty*/
  --rotate: 0.243deg;
  @media (max-width: 750px) {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  & > * {
    display: inline;
    /* TODO dirty */
    background-color: var(--light);
    text-decoration: none;
    padding: 4px;
    margin: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    &:nth-child(1) {
      --rotate: -2deg;
      margin-left: -10px;
    }
    &:nth-child(2) {
      --rotate: 2deg;
    }
    &:nth-child(3) {
      --rotate: -1.5deg;
    }
    &:hover {
      --rotate: 3deg;
      --scale: 1.1;
    }
  }
  & a[disabled],
  & a[aria-disabled="true"] {
    /* opacity: 0.5; */
    pointer-events: none;
    text-decoration: line-through;
  }
}
