.CourseListStyles {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  & > * {
    padding: 2rem;
    border: 1px solid var(--lightGray);
    h3 {
      margin: 0;
    }
    h3 + p {
      margin-top: 0;
    }
    img {
      max-width: 300px;
      float: left;
      margin-right: 2rem;
      @media (max-width: 800px) {
        margin-right: 0;
      }
    }
    @media (max-width: 450px) {
      padding: 0;
      border: 0;
      border-top: 2px solid var(--yellow);
      padding-top: 4rem;
      img {
        width: 100%;
      }
      a {
        font-size: 1.5rem;
      }
    }
  }
}

span.PriceTag {
  text-transform: uppercase;
  display: block;
  font-size: 1.1rem;
  color: black;
  &:before {
    content: '$ ';
    color: var(--yellow);
    font-weight: bold;
  }
}
