.postMeta {
  font-size: 1.4rem;
  font-style: italic;
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: column;
  justify-content: start;

  & > * {
    &:after {
      content: '×';
      margin-left: 1rem;
      color: var(--yellow);
      font-weight: 600;
      font-style: normal;
    }
    &:last-child:after {
      display: none;
    }
  }
}
